/Pertemuan7/latihanTutorial/target/
/Pertemuan8/Pertemuan8/nbproject/private/
/Pertemuan8/Pertemuan8/build/
/Pertemuan8/Tugas/veryEasy/nbproject/private/
/Pertemuan8/Tugas/veryEasy/build/
/Pertemuan8/Tugas/medium/nbproject/private/
/Pertemuan8/Tugas/medium/build/
/Pertemuan8/Modul/NetBeans (10b)/latihanTutorial/nbproject/private/
/Pertemuan8/Modul/NetBeans (10b)/latihanTutorial/build/
/Pertemuan11/Tugas/jdbc_mhs_service/nbproject/private/
/Pertemuan11/Tugas/jdbc_mhs_service/build/
/Pertemuan11/Tugas/jdbc_mhs_service_GUI/nbproject/private/
/Pertemuan11/Modul/GUI/build/
/Pertemuan11/Modul/GUI/nbproject/private/
